@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900 text-white;
}

.links {
  @apply text-neutral-400 hover:text-white font-semibold text-base;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.scale-hover {
  @apply hover:scale-105;
}

.header-grid-template {
  @apply mx-6 px-4 grid items-center;
  grid-template-columns: 0.2fr 2.2fr 1.7fr 1.3fr .4fr .4fr;
}

.body-grid-template {
  @apply mx-6 px-2 grid items-center;
  grid-template-columns: 0.25fr 2.35fr 1.8fr 1.3fr .4fr .6fr;
}
